* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Geneva, Tahoma, sans-serif;
	font-size: 20px;
  background: black;
  color: white;
}

a, a:visited, a:active {
	color: white;
}

p {
	margin-top: 0.5em;
}

#wrapper {
  background: url('/images/trash.jpg') left top no-repeat;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 680px;
}

#content {
  padding: 40px;
}

#footer {
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 0.5em;
}

#introduction {
	width: 600px;
	padding: 0px 0px 20px 20px;
	margin-top: 0;
  margin-left: auto;
  margin-right: auto;
	text-shadow: 1px 1px 2px #000;
}

#introduction a, #introduction a:visited, #introduction a:active {
	text-decoration: none;
	color: #ddf;
}

h1 {
  text-align: center;
	text-shadow: 2px 2px 5px #000;
	font-size: 2em;
	font-weight: normal;
	margin-bottom: 4px;
}

fieldset {
	color: black;
	border: 0;
}

fieldset legend {
	display: none;
}

th {
  text-align: right;
  vertical-align: middle;
  text-decoration: none;
	font-weight: normal;
	padding-right: 1em;
}

.multirow {
	vertical-align: top;
	padding-top: 4px;
}


td {
	text-align: right;
	margin-right: 0px;
	padding: 2px;
}

label {
	text-transform: lowercase;
	vertical-align: middle;
}

input {
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color: black;
	background-color: rgba(255,255,255,0.25);
	padding: 4px;
}

input[type="text"], select {
	width: 200px;
}

#step_2 {
  margin-top: 50px;
}

#target_url {
  display: block;
/*  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
	font-family: Lucida Console, Monaco, monospace;
  font-size: 0.75em;
	text-align: center;
}

#target_url a {
	color: black;
	text-decoration: none;
	white-space: normal;
	display: inline;
	word-wrap: break-word;
}

#target_url a:hover {
	color: #333;
}


#timechoices {
	display: block;
	text-align: left;
}

#timechoices #time {
	width: 100px;
}

#settings ul {
  list-style: none;
}

#settings li {
	padding: 4px;
}

#step_2_additional_explanation li {
	list-style: circle inside;
	margin-left: 20px;
	margin-top: 4px;
}

.stepbox {
	width: 600px;
	padding: 20px;
  margin-left: auto;
  margin-right: auto;
	background-color: rgba(255,255,255,0.75);
	border: 1px solid white;
	color: black;
}

.stepbox a, .stepbox a:visited, .stepbox a:active {
	color: black;
}

.step_header {
	width: 0;
	padding: 0 0 0 64px;
	height: 64px;
	overflow: hidden;
	display: none;
}

.step_explanation {
	height: 64px;
	padding: 4px;
	padding-left: 72px;
	vertical-align: middle;
	overflow: visible;
}

.additional_explanation {
	padding: 4px;
	font-size: 0.75em;
}

#step_1_additional_explanation {
	margin-bottom: 12px;
}

#step_2_additional_explanation {
	margin-top: 12px;
}

.more_link, .more_link a, .more_link a:visited {
	text-decoration: none;
	display: none;
	margin: 0;
/*	margin-left: 300px;*/
	padding: 0;
	color: #ddd;
	text-shadow: 1px 1px 0px #eee;
	text-align: center;
}

#step_1_explanation {
	background: url("/images/1.png") left top no-repeat;
}

#step_2_explanation {
	background: url("/images/2.png") left top no-repeat;
}
