    <p id="introduction">
      Alweer het oud papier vergeten buiten te zetten? Met deze iCalendar versie van de <a href="http://twentemilieu.nl/index.php?id=5">Twente Milieu afvalkalender</a> zet je de afhaalmomenten in je iCal, Google Calendar of op je iPhone.
    </p>
    <div id="step_1" class="stepbox">
      <h2 id="step_1_header" class="step_header">Stap 1</h2>
      <p id = "step_1_explanation" class="step_explanation">
        Vul je postcode en huisnummer in en geef aan hoe de iCalendar events
        in je agenda moeten komen.</p>
      <form id="settings" action="#" method="get">
        <fieldset>
          <legend>Gegevens</legend>
          <table>
            <tr>
              <th><label for="postalcode">Postcode</label></th>
              <td><input id="postalcode" name="postalcode" type="text" maxlength="7"/></td>
            </tr>
            <tr>
              <th><label for="homenumber">Huisnummer</label></th>
              <td><input id="homenumber" name="homenumber" type="text" maxlength="7"/></td>
            </tr>
            <tr>
              <th class="multirow"><label for="time">Tijd</label></th>
              <td>
                <ul id="timechoices">
                  <li>
                    <input id="allday" name="allday" value="1" type="radio" checked="checked"/>
                    <label for="allday">Hele dag</label>
                  </li>
                  <li>
                    <input id="specific_time" name="allday" value="0" type="radio"/>
                    <label for="specific_time">Op tijd</label>
                    <input id="time" name="time" type="text" maxlength="5"/>
                  </li>
              </td>
            </tr>
            <tr>
              <th><label for="alarm">Alarm</label></th>
              <td>
                <select id="alarm" name="alarm">
                  <option value="disabled">Geen alarm</option>
                  <% [0,15,30,60,90,120].each do |m| %>
                    <option value="<%=h m %>"><%=h m %> minuten van tevoren</option>
                  <% end %>
                </select>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
    
    <div id="step_2" class="stepbox">
      <h2 id="step_2_header" class="step_header">Stap 2</h2>
      <p id = "step_2_explanation" class="step_explanation">
        Kopiëer de volgende URL en gebruik deze om op te subscriben in je kalender applicatie.
      </p>
      <span id="target_url">
        <a href="<%=h BASE_URL %>"><%=h BASE_URL %></a>
      </span>
    </div>