<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl">
  <head>
    <title>Twente Milieu Afval-iCalendar</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/style/stylesheet.css"/>
    
    <script type="text/javascript" src="/script/jquery.js"></script>
    <script type="text/javascript" src="/script/afcal.js"></script>
    <script type="text/javascript">
      function base_url() {
        return "<%=h BASE_URL%>";
      }
    </script>

  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <h1>Twente Milieu Afval-iCalendar</h1>
        
        <%= yield %>
        
        <div id="footer">Twente Milieu Afval-iCalendar was written by <a href="http://micheljansen.org/">Michel Jansen</a> and is in no way affiliated with or endorsed by Twente Milieu.<br />Source code available on <a href="http://github.com/micheljansen/afcal">GitHub</a>.<br />Background © mugley. <a href="http://www.flickr.com/photos/mugley/2353540461/">Original on Flickr</a></div>
      </div>
    </div>
  </body>
</html>